trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'Ubuntu-16.04'

steps:

- task: DotNetCoreCLI@2
  displayName: 'Run tests'
  inputs:
    command: test
    projects: vandelay.xunittests/vandelay.xunittests.csproj
    arguments: '--configuration Release'

- task: DotNetCoreCLI@2
  displayName: 'publish'
  inputs:
    command: publish
    projects: vandelay.web/vandelay.web.csproj
    arguments: '--configuration Release --output $(build.artifactstagingdirectory)'
    zipAfterPublish: true
    publishWebProjects: false

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
    
